@model Domain.Colaborador

@{
    ViewData["Title"] = "Detalhes";
}

<h4>Dados do Colaborador</h4>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeMae)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeMae)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomePai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomePai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar para Lista</a>
</div>
